// Цвета
$primary: #a1d13f;
$success: #26c56f;
$error: #ff0000;
$color: #000;
$border-radius: 5px;

//Медиа-запросы
$screen-small: 480px;
$screen-xs: 767px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1250px;
