.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  color: #979797;

  &__input,
  input[type='checkbox'] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

    &:checked ~ .checkbox__custom:after,
    &.checked ~ .checkbox__custom:after {
      opacity: 1;
    }

    &:focus {
      .checkbox__custom {
        border-color: $primary;
      }
    }
  }

  &__custom {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 10px;
    border-radius: 2px;
    background-color: $primary;

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 9.56px;
      height: 7.55px;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);
      opacity: 0;
      font-size: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.913 3.526h0a.525.525 0 01.412.2l-.412-.2zm0 0h-.82a.244.244 0 00-.19.394h0l3.21 4.067h0c.21.266.613.265.824 0h0L10.66.735s0 0 0 0A.243.243 0 0010.47.34h-.82a.523.523 0 00-.412.2L4.524 6.514m-2.61-2.987l2.61 2.987m0 0L2.325 3.726l2.199 2.787z' fill='%23fff' stroke='%23fff' stroke-width='.3'/%3E%3C/svg%3E");
    }
  }

  &__link {
    text-decoration: none;
    color: $primary;
  }

  @media (max-width: $screen-xs) {
    &_discount {
      margin-bottom: 10px;
    }
  }
}
