.enter {
  &__block {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
    color: #979797;
  }

  &__field {
    display: flex;
    flex-direction: column;

    &.has-error {
      .enter {
        &__input {
          border-color: $error;
        }
      }
    }
  }

  &__input {
    width: 100%;
    max-width: 100%;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 11px 15px;
    font-size: 18px;
    border: 1px solid transparent;
  }

  &__submit {
    border: none;
    width: 100%;
    padding: 16px 15px;
    background-color: $primary;
    color: #ffffff;
    border-radius: 10px;
  }

  &__error {
    margin-top: 5px;
    color: $error;
  }
}
