.enter {
  &__block {
    margin-bottom: 20px;
  }

  &__label {
    display: block;
    margin-bottom: 20px;
    color: #979797;
  }

  &__field {
    overflow: hidden;
    border-radius: 10px;
  }

  &__input {
    width: 100%;
    max-width: 100%;
    background-color: #f7f7f7;
    border: none;
    border-radius: 10px;
    padding: 11px 15px;
    font-size: 18px;
  }

  &__submit {
    border: none;
    width: 100%;
    padding: 16px 15px;
    background-color: $primary;
    color: #ffffff;
    border-radius: 10px;
  }
}
