.header {
  padding: 23px 0;

  &.logged {
    .log-in {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__basket {
    &:hover {
      opacity: 0.8;
    }
  }
}
