.log-in {
  margin-right: 20px;
  border: none;
  background-color: transparent;
  font-weight: 600;

  &:hover {
    .log-in {
      &__text {
        opacity: 0.8;
      }
    }
  }

  &__icon {
    margin-right: 10px;
  }
}
